---
interface IProps {
    title: string
}

const { title } = Astro.props as IProps;

const APP_NAME = import.meta.env.APP_NAME;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} - ${APP_NAME}`}</title>
</head>
<body>
    <header class='p-5 bg-green-200'>
        <a href='/'>Home</a>
        <a href='/blog'>Blog</a>
    </header>

    <slot />
</body>
</html>
